.container {
    font-family: 'Arial', sans-serif;
    margin: 10px auto;
}

.title {
    font-size: 14pt;
    color: #fdf0d5;
    text-align: center;
    margin-bottom: 20px;
}

.searchBar {
    margin-bottom: 10px;
}

.commandTable {
    width: 100%;
    font-size: 10pt;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1e1e1e;
}

.commandTable thead {
    background-color: #003049;
}

.commandTable th, .commandTable td {
    padding: 10px;
    text-align: left;
    color: #fdf0d5;
    border-bottom: 1px solid #669bbc;
}

.commandTable th {
    font-weight: bold;
}

.commandTable tbody tr {
    transition: background-color 0.3s ease;
}

.commandTable tbody tr:hover {
    background-color: #669bbc;
    color: #003049;
}

.commandTable button {
    background-color: #003049;
    color: #fdf0d5;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.commandTable button:hover {
    background-color: #fdf0d5;
    color: #003049;
}

.commandRow {
    cursor: pointer;
}
