.commandline {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 15px;
    font-family: 'Source Code Pro', monospace;
    height: 150px;
    overflow-y: auto;
    border-top: 1px solid #003049;
    font-size: 10pt;
    overflow-x: hidden;
}


.prompt {
    color: #669bbc;
}

.commandinput {
    background-color: #1e1e1e;
    color: #669bbc;
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    padding: 8px;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.commandinput::placeholder {
    color: #9e9e9e;
}

