
.searchBar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #669bbc;
  border-radius: 5px;
  font-size: 1em;
}