
.searchBar {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.searchInput {
    width: 80%;
    padding: 2px;
    border: 1px solid #669bbc;
    border-radius: 5px;
    font-size: 10pt;
    font-family: 'Arial', sans-serif;
    text-align: center;
}