.commandType {
    width: 95%;
    padding: 8px;
    font-size: 12pt;
    border-radius: 4px;
    border: 1px solid #669bbc;
    background-color: #1e1e1e;
    color: #fdf0d5;
}

.animationBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(144, 238, 144, 0.5);
    opacity: 0;
    animation: expand 1.5s forwards;
    z-index: 1;
}

@keyframes expand {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(10);
        opacity: 0;
    }
}

.container {
    font-family: 'Arial', sans-serif;
    color: #fdf0d5;
    padding: 20px;
    border-radius: 8px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

.title {
    font-size: 16pt;
    margin-bottom: 15px;
    text-align: center;
    color: #fdf0d5;
}

.field {
    margin-bottom: 10px;
}

.backArrow {
    cursor: pointer;
    font-size: 24px;
    color: #fdf0d5;
    margin-right: 10px;
    display: inline-block;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 12pt;
}

.input {
    width: 90%;
    padding: 8px;
    font-size: 12pt;
    border-radius: 4px;
    border: 1px solid #669bbc;
    background-color: #1e1e1e;
    color: #fdf0d5;
}

.input:focus {
    border-color: #3f51b5;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.saveButton {
    margin-top: 10px;
    padding: 10px;
    font-size: 12pt;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #003049;
    color: #fdf0d5;
    border: 1px solid #669bbc;
}

.saveButton:hover {
    background-color: #669bbc;
}


